/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


/my-laravel-starter/node_modules
/my-laravel-starter/public/hot
/my-laravel-starter/public/storage
/my-laravel-starter/storage/*.key
/my-laravel-starter/vendor
/my-laravel-starter/.idea
/my-laravel-starter/.vscode
/my-laravel-starter/.vagrant
/my-laravel-starter/Homestead.json
/my-laravel-starter/Homestead.yaml
/my-laravel-starter/npm-debug.log
/my-laravel-starter/yarn-error.log
/my-laravel-starter/.env
